


.ant-card {
    border-radius: 20px;
    margin-top: 30px;
}

.search_btn {
    background-image: -webkit-linear-gradient(to right, #55c7ff, #1ea1de);
    background-image: linear-gradient(to right, #55c7ff, #1ea1de);
}