@import '../common.less';

.layout {

    .navbar_item {
        padding: 0 !important;
        width:50px !important;
        height:69.6px !important;

        p {
            font-size: 10px;
        }
    }


    .navbar_item_on {
        padding: 0 !important;
        width:50px !important;
        height:69.6px !important;

        p {
            font-size: 10px;
        }

        span {
            margin-top: 5px !important;
            background-color: #ffffff !important;
        }
    }




    .am-tab-bar-bar {
        padding-top: 50px;
        padding-bottom: 50px;
        border-top: 0 !important;
        margin-bottom: 20px;
    }
}

.nav-link {
    color: #ffffff;
}

.nav-link-active {
    color: #ffffff;
    border-bottom: #ffffff 3px solid;
}

.nav-wifi-icon {
    width: 30px;
    height: 30px;
    background: url(../../assets/wlimg.png) center center /  30px 30px no-repeat;
}


.am-navbar-title {
    flex:10 !important;
}
