@import '../common.less';

.device {
    background-color: fade(#ffffff,11);
    min-height: calc(~"100vh - 57px");

    .am-navbar {
        background-color: transparent !important;
        border-bottom: 1px face(#ffffff,06) solid !important;
        height: 65px;
        padding-top: 15px;
    }

    .am-list-body {
        background-color: fade(#ffffff,67) !important;
        border: 0 !important;

        .am-list-item {
            background-color: fade(#000000,84) !important;
            border: 0 !important;

            .am-list-line {
                border-bottom: 0 !important;
            }
        
            img {
                width: 50px !important;
                height: 50px !important;
            }
    
        }
    }
    
    

    .tools_title {
        margin-top: 18%;
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        color: rgba(255, 255, 255, 0.5);

        .title {
            font-size: 16px;
            color: #ffffff;
        }

        .category {
            font-size: 14px;
            margin-left: 20px;
            
        }

        .selected {
            color: #ffffff;
        }
    }
    
    .tools_bg {
        background-color: fade(#ffffff,06);
        border-radius: 10px;

        .am-flexbox-item:first-child {
            margin-left: 8px;
        }

        .am-flexbox-item {
            flex: 0 0;
            min-width: 100px;
        }

    }
    
    .tools_con {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.33%;
    
        div {
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;

            img {
                width: 30px;
                height: 30px;
            }
        }
    
        p {
            color: #ffffff;
            text-align: center;
        }
    }

    .tools_warring {
        background-color: fade(#ffffff,06);
        border-radius: 10px;
        font-size: 14px;
        color: #ffffff;
        padding: 20px;
    }

    .disable {
            img {
                filter: gray;
                filter: opacity(0.2);
            }
    
        p {
            color: #808080;
        }

    }
}









