
.layout_bg {
    background-color: fade(#000000,77);

    .layout {
        span {
            margin-top: 5px !important;
        }
    }

    .navbar_item {
        padding: 10px 0px 0px;
        width: 35.1px;
        height: 66px;
    }

    .navbar_item img {
        margin-bottom: 12px
    }

    .navbar_icon {
        width: 27px;
        height: 27px;
        margin-bottom: 5px;
    }

    .navbar_item span {
        height: 4px;
        width: 30px;
        margin: auto;
        display: block;
        border-radius: 5px
    }

    .navbar_item_on {
        padding: 10px 0px 0px;
        width: 35.1px;
        height: 66px;
    }

    .navbar_item_on span {
        height: 4px;
        width: 30px;
        margin: auto;
        display: block;
        border-radius: 5px;
        background-color: #7ac6eb;
        margin-top: -6px;
    }

    .am-tab-bar-bar {
        height: 57px;
    }

    .am-tab-bar-tab {
        height: 57px;
        background-color: fade(#ffffff,21) !important;
    }

    .am-tab-bar-item {
        background-color: fade(#ffffff,02);
        height: auto !important;
    }

}

