@import '../common.less';

.title {
    padding: 10px 26px;
    background-color: #f4f4f4;
    height: 60px;

    img {
        margin-right: 10px;
        display: 'inline-block'; 
        vertical-align: middle;
    }

    span {
        line-height: 40px;
        font-size: 18px;
        display: 'inline-block'; 
        color: '#333333';
        vertical-align: middle;
    }

    .right-Link {
        float: right;
        line-height: 40px;
        font-size: 14px;
        color: #2fa4e7;

        span {
            vertical-align: unset;
        }

        &:hover {
            cursor: pointer;
        }
    }

}

.number-info {
    background-color: #f4f4f4;
    border-radius: 4%;
    color: #333;
    font-size: 16px;
    padding: 24px 30px;

    .unit{
        color: #999;
        font-size: 12px;
    }

    .data{
        float: right;
    }
}

.chart {
    display: inline-block;
    // padding: 10px 25px;

    .data {
        font-size: 14px;
        color: #000;
        font-weight:600;
        margin-top: 25px;
    }

    .unit {
        font-size:10px;
        color: #999999;
    }
}

.sub-title {
    h2 {
        display: inline;
    }

    .right-Link {
        float: right;
        line-height: 40px;
        font-size: 14px;
        color: #2fa4e7;

        span {
            vertical-align: unset;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .command {
        background-color: #f4f4f4;
        padding: 30px;

        h4 {
            color: #333;
        }

        send {
            input {
                width: 80%;
            }

            button {
                float: right;
            }
        }
    }
}

.table-list {
    thead {
        div {
            text-align: center;
        }

        th {
            border-bottom: 0;
            background-color: #f4f4f4;
        }
    }


    tbody {
        td {
            text-align: center;
        }
    }
}

.data-table-list {
    thead {
        font-size: 13px;

        div {
            text-align: center;
        }

        th {
            border-bottom: 0;
            padding: 16px 6px;
            background-color: #f4f4f4;
        }
    }


    tbody {
        td {
            text-align: center;
            font-size: 13px;
        }
    }
}