.weui-cell {
    padding: 30px 15px 10px
}

.weui-cell .weui-cell__hd img {
    width: 60px;
    margin-right: 15px
}

.weui-cell__bd h2 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px
}

.weui-cell__bd p {
    font-size: 14px;
    color: #adadad
}

.title {
    padding: 10px 15px 20px;
    font-size: 16px;
    color: #fff
}

.gj {
    padding: 0px 15px;
    height: auto;
    overflow: hidden;
}

.gj ul {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}

.gj ul li {
    width: 33.33%;
    padding: 30px 0px;
}

.gj ul li img {
    width: 30px;
    display: block;
    margin: 0 auto
}

.gj ul li p {
    font-size: 14px;
    color: #fff;
    text-align: center
}

.borb {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
}