
.bg {
    background-color: #00000069;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.normal_title {
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    margin-top: 30px;
}

.red-circle {
    border-radius: 50%;
    border: 2px solid #ff2828;
    color: #ffffff;
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.green-circle {
    border-radius: 50%;
    border: 2px solid #08ce29;
    color: #ffffff;
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}